.wrapper {
    width: 80%;
    margin: auto;
}

.books-list {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    margin: auto;
    order: -1;
}

.book {
    width: 26vmin;;
    margin-right: 1em;
}

.book-img-container img {
  height: 40vmin;
  width: 16vmin;
}

@media (max-width: 850px) {
  .books-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted minmax for smaller widths */
    grid-auto-flow: row dense;
    gap: 0.2em;
  }

}